html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Tahoma', sans-serif;
  background-image: url('https://i.pinimg.com/736x/13/50/e0/1350e06d3a3f1ab94e5c81926bc1c08b.jpg');
  background-position: bottom;
  background-size: cover;
  margin: 0;
}

.Maxwell-Schutze {
  text-align: center;
  font-weight: 100;
}

.page-description {
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
  background-color: beige
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-item {
  margin: 20px;
}

.thumbnail {
  border: 5px solid black;
}

.gallery2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-item2 {
  margin: 20px;
}

.thumbnail2 {
  border: 5px solid black;
}

nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

.resume-btn {
  float: right;
}

.resume-btn a {
  position: relative;
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.resume-btn a:active 
{

  top: 2px;
}


.modal {
    position: fixed;
    inset: 0;
    background: purple;
    display: none;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    background: white;
    padding: 1em 2em;
    border-radius: 4px;
}

.modal:target {
    display: flex;
}