body {
	height: 100%;
	margin: 10px;
	width: 100%;
}

header {
    font-family: 'Droid Sans', sans-serif;
	font-size: 32px;
    color: white; 
    background-color: rgba(3, 24, 95, 0.85);
    text-align: center;
}

h1 {
    color: white; 
    background-color: rgba(3, 24, 95, 0.85);
	font-size: 50px;
    text-align: center;
}

.hero {
  font-family: 'Droid Sans', sans-serif;
   margin: 30px;
}
ol{
    font-size: 15px
    text-align: left;
}

nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

.return-btn {
  float: middle;
}

.return-btn a {
  position: relative;
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.return-btn a:active 
{